@charset "utf-8";

#top-msg{
	color:red;
}
/* ユーザ登録機能排除に伴い制限 2020/10/31 */
.content-item #code{
	display: none;
}

.content-item .item #商品名 {
	vertical-align: top;
	padding: 5px 10px;
	/*
	font-size: 86%;
	*/
	border: none;
	border-radius: 3px;
	background: #ddf0ff;
	width: 90%;
}

.item .url{
	width:90%;
}
.item #url-btn{
	margin-top: 5px;
	width: 100%;
	box-shadow: 0 3px 0 #28d174;
	background: #4ef14e;

}

input:focus, select:focus, textarea:focus{background-color: rgba(252, 255, 102, 0.726);}
